@import url(https://github.com/schnensch0/zelk/blob/cad0db59590d0ba56880d9b9483e5dcf15b2df44/zelk.css);
@import url(https://raw.githack.com/schnensch0/zelk/main/colors/gray.css);
:root{
    --badge-size: 22px; /*discord defualt = 18px, theme defualt = 22px;*/
    --badge-margin: 1.5px; /*discord default = 2px, theme defualt = 1.5px*/
    --badges-everywhere-size: 15px; /*default = 15px*/
}
:root {
  --font-primary: Whitney,gg sans,"Helvetica Neue",Helvetica,Arial,sans-serif!important;
  --font-display: Whitney,gg sans,"Helvetica Neue",Helvetica,Arial,sans-serif!important;
}

@font-face {
  font-family: Whitney;
  font-style: normal;
  font-weight: 300;
  src: url(https://discord.com/assets/46933da896ba96126074286056614542.woff2) format("woff2"), url(https://ptb.discord.com/assets/46933da896ba96126074286056614542.woff2) format("woff2"), url(https://canary.discord.com/assets/46933da896ba96126074286056614542.woff2) format("woff2");
}
@font-face {
  font-family: Whitney;
  font-style: italic;
  font-weight: 300;
  src: url(https://discord.com/assets/1651ce6325c0da043476ace0bec3971b.woff2) format("woff2"), url(https://ptb.discord.com/assets/1651ce6325c0da043476ace0bec3971b.woff2) format("woff2"), url(https://canary.discord.com/assets/1651ce6325c0da043476ace0bec3971b.woff2) format("woff2");
}
@font-face {
  font-family: Whitney;
  font-style: normal;
  font-weight: 400;
  src: url(https://discord.com/assets/24bda95d153a319704c33329f3ab84bb.woff2) format("woff2"), url(https://ptb.discord.com/assets/24bda95d153a319704c33329f3ab84bb.woff2) format("woff2"), url(https://canary.discord.com/assets/24bda95d153a319704c33329f3ab84bb.woff2) format("woff2");
}
@font-face {
  font-family: Whitney;
  font-style: italic;
  font-weight: 400;
  src: url(https://discord.com/assets/7f18f1d5ab6ded7cf71bbc1f907ee3d4.woff2) format("woff2"), url(https://ptb.discord.com/assets/7f18f1d5ab6ded7cf71bbc1f907ee3d4.woff2) format("woff2"), url(https://canary.discord.com/assets/7f18f1d5ab6ded7cf71bbc1f907ee3d4.woff2) format("woff2");
}
@font-face {
  font-family: Whitney;
  font-style: normal;
  font-weight: 500;
  src: url(https://discord.com/assets/cf4a8a10bbdf9b775fad41e0b9921c84.woff2) format("woff2"), url(https://ptb.discord.com/assets/cf4a8a10bbdf9b775fad41e0b9921c84.woff2) format("woff2"), url(https://canary.discord.com/assets/cf4a8a10bbdf9b775fad41e0b9921c84.woff2) format("woff2");
}
@font-face {
  font-family: Whitney;
  font-style: italic;
  font-weight: 500;
  src: url(https://discord.com/assets/9cfa747e897c772d25efd8e4a42a005e.woff2) format("woff2"), url(https://ptb.discord.com/assets/9cfa747e897c772d25efd8e4a42a005e.woff2) format("woff2"), url(https://canary.discord.com/assets/9cfa747e897c772d25efd8e4a42a005e.woff2) format("woff2");
}
@font-face {
  font-family: Whitney;
  font-style: normal;
  font-weight: 600;
  src: url(https://discord.com/assets/f9e7047f6447547781512ec4b977b2ab.woff2) format("woff2"), url(https://ptb.discord.com/assets/f9e7047f6447547781512ec4b977b2ab.woff2) format("woff2"), url(https://canary.discord.com/assets/f9e7047f6447547781512ec4b977b2ab.woff2) format("woff2");
}
@font-face {
  font-family: Whitney;
  font-style: italic;
  font-weight: 600;
  src: url(https://discord.com/assets/21070f52a8a6a61edef9785eaf303fb8.woff2) format("woff2"), url(https://ptb.discord.com/assets/21070f52a8a6a61edef9785eaf303fb8.woff2) format("woff2"), url(https://canary.discord.com/assets/21070f52a8a6a61edef9785eaf303fb8.woff2) format("woff2");
}
@font-face {
  font-family: Whitney;
  font-style: normal;
  font-weight: 700;
  src: url(https://discord.com/assets/f9c8fcfa7dcc5d6a291a6ebbe3bb847e.woff2) format("woff2"), url(https://ptb.discord.com/assets/f9c8fcfa7dcc5d6a291a6ebbe3bb847e.woff2) format("woff2"), url(https://canary.discord.com/assets/f9c8fcfa7dcc5d6a291a6ebbe3bb847e.woff2) format("woff2");
}
@font-face {
  font-family: Whitney;
  font-style: italic;
  font-weight: 700;
  src: url(https://discord.com/assets/5e1649183589023fb24667a369af585d.woff2) format("woff2"), url(https://ptb.discord.com/assets/5e1649183589023fb24667a369af585d.woff2) format("woff2"), url(https://canary.discord.com/assets/5e1649183589023fb24667a369af585d.woff2) format("woff2");
}


.theme-dark,
:root {
    --background-primary: #181818 !important;
    --background-secondary: #1d1d1d !important;
    --background-tertiary: #181818 !important;
    --background-text-area: #292929 !important;
    --background-floating: #1f1f1f !important;
    --scrollbar-auto-track: rgb(41, 41, 41);
    --scrollbar-auto-thumb: rgb(77, 77, 77);
    --container-hover: rgb(58, 58, 58);
    --container-active: rgb(83, 83, 83);
    --container-avatar: rgb(39, 39, 39);
    --layout-selected: rgba(79, 84, 92, 0.32);
    --searchBar-hover: rgb(58, 58, 58);
    --searchBar-open: rgb(58, 58, 58);
    --scroller: rgb(34, 34, 34);
    --spoilerText: rgb(39, 39, 39);
    --spoilerText-hover: rgb(54, 54, 54);
    --uploadModal: #1f1f1f;
    --footer: #292929;
    --selected-hover: #303030;
    --selected-active: #4b4b4b;
    --expandedFolder: #2b2b2b;
    --closedFolder: #2b2b2b;
    --closedFolderIconWrapper: #424242;
    --peopleList: #272727;
    --actionButton-hover: rgb(70, 70, 70);
    --feature-hover: rgb(58, 58, 58);
    --childWrapper: #303030;
    --searchBarCom-hover: rgb(51, 51, 51);
    --expandedFolderIcon: #2b2b2b;
    --expandedFolderIconWrapper-hover: #3f3f3f;
    --body-footer: #1f1f1f;
    --headerTop: #181818;
    --The-272727: #272727;
    --The-181818: #181818;
    --text-area-focus: #141414;
    --lookFilled-colorBrand: rgb(29, 29, 29);
    --lookFilled-colorBrand-hover: rgb(75, 75, 75);
    --colorPrimary: #525252;
    --colorPrimary-hover: rgb(59, 59, 59);
    --lookOutlined: #414141;
    --The-292929: #292929;
    --The-555555: #555555;
    --The-161616: #161616;
    --perk-hover: rgb(65, 65, 65);
    --perk-active: rgb(46, 46, 46);
    --lookFilled-disabled: rgb(24, 24, 24);
    --connectedAccount-hover: rgb(56, 56, 56);
    --circleIconButton-selected: rgb(66, 66, 66);
    --circleIconButton-active: rgb(122, 122, 122);
    --The-82: rgb(82, 82, 82);
    --The-58: rgb(58, 58, 58);
    --The-126: rgb(126, 126, 126);
    --subtitle: rgb(163, 163, 163);
    --The-59: rgb(59, 59, 59);
    --The-83: rgb(83, 83, 83);
    --The-163: rgb(163, 163, 163);
    --The-102: rgb(102, 102, 102);
    --The-94: rgb(94, 94, 94);
    --childWrapper-1j_1ub: rgb(124, 124, 124);
    --The-92: rgb(92, 92, 92);
    --The-85: rgb(85, 85, 85);
    --The-49: rgb(49, 49, 49);
    --The-48: rgb(48, 48, 48);
    --The-34: rgb(34, 34, 34);
    --ToolTip: rgb(51, 51, 51);
}
